<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>PCOS Website</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">
    <link rel="stylesheet" href="/css/community.css">


    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!-- <script src="jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" > -->
    <link rel="stylesheet" href="css/HOMEstyles.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <link rel="stylesheet" href="/css/footer.css">
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">

    <link href="/css/HOMEstyles.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/helpinfo.css" rel="stylesheet" >
  </head>
  <body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <a href="/"><img style="height:90px; width:90px;" src="/HOMEimages/PratibhaLogo.svg" class="image-responsive"></a>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="/"><span class="navbar-text">Home</span></a>
    <a class="p-2 text-dark" href="/blogpage"><span class="navbar-text">Community</span></a>
    <a class="p-2 text-dark" href="/yogadiet"><span class="navbar-text">Yoga</span></a>
    <a class="p-2 text-dark" href="https://pcosmlmodel-api.herokuapp.com/"><span class="navbar-text">Self Test</span></a>
    <a class="p-2 text-dark" href="/patient/dashboard/selector"><span class="navbar-text">Dashboard</span></a>
  </nav>

</header>





<div class="container" style="padding:5%;">
  <h1><%= postHeading %></h1>
  <p style="color:#000; font-size:1.2rem;"><%= postContent %></p>
  <p style="color:#000; font-size:1.2rem;"><%= postWriter %></p>
</div>

<hr style="width:10%; border-top: 2px solid #757575; margin:10px auto 40px;">

<div class="container">
  <form action="/blogpage/message" method="post">
    <input type="hidden" name="postUniqueId" value="<%=postUniqueId%>">
    <div class="message-writer">
      <h3>Message for the writer</h3>
     <textarea class="community-textarea" style="padding: 3%;" name="messageTitle" placeholder="Message title" rows="1" cols="86"></textarea>
     <textarea class="community-textarea" style="padding: 5%;" name="messageContent" placeholder="Enter your message" rows="8" cols="80"></textarea>
     <br>
     <button class="btn btn-dark btn-lg  create-message-btn"  type="submit" name="button">Send</button>
    </div>

  </form>
</div>


<%- include("partials/footer.ejs")  -%>
